# SPDX-FileCopyrightText: 2006-2023, Knut Reinert & Freie Universität Berlin
# SPDX-FileCopyrightText: 2016-2023, Knut Reinert & MPI für molekulare Genetik
# SPDX-License-Identifier: CC0-1.0
name: Build Python Binaries

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022, macos-15-intel, macos-14]

    steps:
      - uses: actions/checkout@v6
        with:
          path: repo
      - name: Setup Env
        shell: bash
        run: |
           echo \"${GITHUB_ACTION}\" \"${GITHUB_REF}\" \"${GITHUB_BASE_REF}\" \"${GITHUB_RUN_NUMBER}\"
           echo "" > env.sh
      - name: Install tools (linux)
        if: ${{ matrix.os == 'ubuntu-22.04' }}
        shell: bash
        run: |
           echo "Setup for " ${{ inputs.compiler }}
           echo "export CXX_STANDARD=cpp20" >> env.sh
           echo "export BUILD_TYPE=Release" >> env.sh
           echo "export CMAKE_CXX_FLAGS=" >> env.sh
           echo "export CMAKE_C_FLAGS=" >> env.sh
           NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
           eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
           sudo apt-get update -y
           sudo apt-get install -y build-essential
           brew update
           brew upgrade
           echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> env.sh
           brew update-reset
           brew install --force-bottle --overwrite cmake pkg-config bash
      - name: Install tools (macos-15-intel)
        if: ${{ matrix.os == 'macos-15-intel' }}
        shell: bash
        run: |
           echo 'eval "$(brew shellenv)"' > env.sh
           echo "Setup for " ${{ inputs.compiler }}
           echo "export CXX_STANDARD=cpp20" >> env.sh
           echo "export BUILD_TYPE=Release" >> env.sh
           echo "export CMAKE_CXX_FLAGS=" >> env.sh
           echo "export CMAKE_C_FLAGS=" >> env.sh
           brew update-reset
           brew install --force-bottle --overwrite cmake pkg-config bash

           echo "export MACOSX_DEPLOYMENT_TARGET=13.6" >> env.sh

           brew install --force-bottle llvm@20
           brew link -f llvm@20
           echo "export CXX=clang++" >> env.sh
           INSTALL_PREFIX=$(brew --prefix llvm@20)
           echo "export PATH=\"${INSTALL_PREFIX}/bin:$PATH\"" >> env.sh
           echo "export LDFLAGS=\"-L${INSTALL_PREFIX}/lib/c++ -Wl,-rpath,${INSTALL_PREFIX}/lib/c++\"" >> env.sh
      - name: Install tools (macos-14)
        if: ${{ matrix.os == 'macos-14' }}
        shell: bash
        run: |
           echo 'eval "$(brew shellenv)"' > env.sh
           echo "Setup for " ${{ inputs.compiler }}
           echo "export CXX_STANDARD=cpp20" >> env.sh
           echo "export BUILD_TYPE=Release" >> env.sh
           echo "export CMAKE_CXX_FLAGS=\"-fuse-ld=lld -Wno-unused-command-line-argument\"" >> env.sh
           echo "export CMAKE_C_FLAGS=" >> env.sh
           brew update-reset
           brew install --force-bottle --overwrite cmake pkg-config bash

           echo "export MACOSX_DEPLOYMENT_TARGET=14.0" >> env.sh

           brew install --force-bottle llvm@20
           brew link -f llvm@20
           echo "export CXX=clang++" >> env.sh
           echo "export CC=clang" >> env.sh
           INSTALL_PREFIX=$(brew --prefix llvm@20)
           echo "export PATH=\"${INSTALL_PREFIX}/bin:$PATH\"" >> env.sh
           echo "export LDFLAGS=\"-L${INSTALL_PREFIX}/lib/c++ -Wl,-rpath,${INSTALL_PREFIX}/lib/c++\"" >> env.sh
      - name: Install tools (win)
        if: ${{ matrix == 'windows-2022' }}
        shell: bash
        run: |
          echo "CMAKE_ARGS=-DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake" >> env.sh

      # Used to host cibuildwheel
      - uses: actions/setup-python@v6
      - name: Install cibuildwheel
        shell: bash
        run: |
          source env.sh
          cmake --version
          which cmake || true
          cd repo
          python -m pip install cibuildwheel==2.23.3
      - name: Build wheels
        shell: bash
        run: |
          source env.sh
          cd repo
          python -m cibuildwheel --output-dir wheelhouse
      - uses: actions/upload-artifact@v5
        with:
          name: binaries-${{ github.sha }}-${{ matrix.os }}
          path: ./repo/wheelhouse/*.whl
